.wrapper {
    margin: 5px;
}

.face{
    width: 75px;
    height: 75px;
    border: solid 2px black;
    background-color: yellow;
    border-radius: 50px;
}

.lefteye{
    width: 6px;
    height: 6px;
    border: solid 1px black;
    border-radius: 3px;
    z-index: 1;
    position: relative;
    left: 32px;
    top: 24px;
    background-color: black;
}

.righteye {
    width: 6px;
    height: 6px;
    border: solid 1px black;
    border-radius: 3px;
    z-index: 1;
    position: relative;
    left: 54px;
    top: 14px;
    background-color: black;
}
.mouth {
    width: 30px;
    height: 15px;
    border: solid 1px black;
    border-radius: 0 0 45px 45px;
    margin: 8px 2px 2px 15px;
    position: relative;
    top: 1em;
    left: 1em;
    background-color: black;
}

#inner-left {
    width: 2px;
    height: 2px;
    border: solid 1px white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}

#inner-right {
    width: 2px;
    height: 2px;
    border: solid 1px white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}

#tongue{
    width: 6px;
    height: 1px;
    border: solid 4px red;
    position: relative;
    left: 8px;
    top: 4px;
    background-color: red;
    border-radius: 5px;
}

.righteyebrow {
    width: 10px;
    height: 1px;
    border: solid 1px black;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    left: 52px;
    top: 12px;
    background-color: black;
}

.lefteyebrow {
    width: 10px;
    height: 1px;
    border: solid 1px black;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    left: 30px;
    top: 22px;
    background-color: black;
}

.goatee {
    width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgb(10, 10, 10);
  position: relative;
  left: 40px;
  top: 15px;
}