body {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 20px;
}

.navbar-toggler {
  padding: 1rem 2rem;
}

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}
.navBarWrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.headerContent {
  background: url('assets/pexels-josh-sorenson-258209.jpg') center no-repeat;
  background-size: cover;
  height: 85vh;
}

#name {
  font-size: 150px;
  font-weight: bolder;
  line-height: 85px;
  padding-top: 45vh;
  padding-left: 7vw;
  letter-spacing: -5px;
}

#title {
  font-size: 25px;
  font-weight: bolder;
  padding-top: 7px;
  padding-left: 10vw;
}

.card {
  padding: 5px;
  margin: 10px;
}
.card-group {
  padding-bottom: 175px;
}

.card-img-top {
  height: 10vw;
}
.card-text {
  font-size: 18px;
}

.titles {
  font-weight: bolder;
  font-size: 100px;
  letter-spacing: -5px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid {
  padding-right: 100px;
  padding-left: 100px;
}

#myPic {
  float: left;
  max-height: 27vh;
  padding-right: 15px;
}

#aboutText {
  font-size: 25px;
}

#links {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 175px;
}

.btn-lg {
  margin-top: 50px;
  padding: 25px 100px;
}

#myProjects {
  font-size: 20px;
  /* line-height: 5vh; */
  letter-spacing: 0px;
  /* padding-bottom: 100px; */
}

#contact-title {
  color: black;
}

#footer {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  margin-top: 100px;
  padding: 50px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.textarea {
  padding-right: 500px;
}

#theEnd {
  font-size: 10px;
  margin: 5px;
}

.social-menu {
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
}
